.material-icons.md-18 { 
  font-size: 20px;
    margin: auto;
    padding: initial;
 }

.messageContainer {
  padding: 10px;
  font-family: 'Nunito', sans-serif;
  border: 1px solid #d0d0d0;
  margin-bottom: 20px;
  border-radius: 6px;
  max-height: 77vh;
  background-color: #9b4dca33;
  border-radius: 0px 0px 6px 6px;
  height: 77vh;
  overflow: scroll;
}
.chatRoomTitleContainer {
  width: 100%;
  height: 40px;
  vertical-align: middle;
  text-align: center;
  font-family: 'Asap', sans-serif;
  text-transform: uppercase;
  font-size: 17px;
  color: white;
  border-radius: 6px 6px 0 0;
  background-color: #4f4f4f;
  display: table;
}
.chatRoomTitle {
  display: table-cell;
  vertical-align: middle;
  text-transform: uppercase;
}
#myAvatar {
  margin-right: 5px;
  margin-left: 5px;
  border: 1px solid rgb(79, 79, 79);;
  background-color: #C907B4;
  
}
button#send {
  width: 40px;
  min-width: 40px;
  margin: 0;
  height: 38px;
  margin-left: 1em;
  padding: 0;
  border-radius: 50%;
  text-align: center;
}
.chatListContainer {
  width: 320px;
  margin-right: 25px;
  color: white;
  border-radius: 6px;
  text-align: center;
  background-color: #4f4f4f;
  /* box-shadow: 1px 3px 11px 0px #574684; */
}
.profilePage {
  width: calc(100% - 320px);
  background-color: #ebdbf4;
  margin-right: 0px;
  height: 85vh;
  vertical-align: middle;
  align-items: center;
  border-radius: 6px;
}
.gridItem1 {
  justify-self: center;
  transition: all .2s ease-in-out;
  background-color: #ebdbf4 !important;
  border-color: #ebdbf4 !important;
}
.gridItem1:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.gridItem2 {
  justify-self: start;
  border-color: #403f3f8c !important;
}
.gridItem3 {
  justify-self: start;
  font-family: 'Asap', sans-serif;
  text-transform: uppercase;
}
.gridItem4 {
  justify-self: center;
  border: none;
  width: 240px;
  border: 1px solid #8d8691;
  grid-column: 1 / 3;
}
.formContainer {
  
  padding: 5em;
  border-top: 1px solid #8d8691;
  margin-left: 1em;
  margin-right: 1em;
  color: #272727;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
  padding: 0;
  transition: all .2s ease-in-out;
}
input[type="color"]:focus {
  outline: none;
}

input[type="color"]:hover {
  border-color: black;
  cursor: pointer;
  transform: scale(1.1);
}

input[type="color"]::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 50%;
    padding: 0;
}
.form {
  display: grid;
  margin: auto;
  grid-template-columns: 40% 40%;
  justify-content: center;
  height: 100%;
  grid-template-rows: 50px 50px;
  grid-gap: 25px;
  align-content: center;
  align-items: center;
}
.chatRoomContainer:hover {
  background-color: #606c76;
  cursor: pointer;
}
.roomNumCli {
  border: 1px solid #989898;
  border-radius: 50%;
}
.chatRoomContainer.selected {
  background-color: #9b4dca;
}
.chatRoomContainer {
  border: 1px solid #989898;
  margin: 5px;
  border-radius: 6px;
  padding: 10px;
  text-align: center;
}
.msg {
	display:flex;
}
.text {
  width: fit-content;
  background-color: #bcd7d8;
  padding: 5px 10px 5px 10px;
  border-radius: 6px;
  max-width: 200px;
  overflow-wrap: break-word;
  border: 1px solid #549294;
}
.group {
  display: flex;
  width: fit-content;
  margin: 0px 0px 0px auto;
}
.text.me {
  background-color: #bee6ba;
  border-color: #6b9267;
}
.msg.me {
  text-align: right;
}
.action {
	display: flex;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 5px;
}
#nameAndMsg {
  display: grid;
  margin-left: 5px;
}
#name {
	font-size: small;
	font-weight: bold;
}
.header {
  background-color: #4f4f4f;
  font-family: 'Asap', sans-serif;
  overflow: hidden;
  margin-bottom: 1em;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  box-shadow: -1px 2px 5px #57468478;
  text-transform: uppercase;
}

/* Style the links inside the navigation bar */
.header span {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.header span:hover {
  background-color: #606c76;
  color: white;
  cursor: pointer;
}

/* Add a color to the active/current link */
.header span.active {
  background-color: #9b4dca;
  color: white;
}

.notificationContainer {
  text-align: center;
  margin: 15px;
}
.notification {
  padding: 5px 10px 5px 10px;
  background-color: #c3c3c3;
  border-radius: 6px;
}
.chat {
  width:  calc(100% - 320px);
  margin-right: 0px;
}
.titleContainer {
  text-align: left;
  padding: 10px;
  background-color: #9b4dca;
  border-radius: 6px 6px 0px 0px;
}
.title {
  font-family: 'Asap', sans-serif;
  text-transform: uppercase;
  font-size: 17px;
}
button#add {
  width: 40px;
  min-width: 40px;
  margin: 0;
  height: 40px;
  margin-left: 1em;
  padding: 0;
  border-radius: 50%;
  text-align: center;
  color: black;
  background-color: #ebdbf4;
}
button#add:hover {
  background-color: #606c76;
  color: white;
}
button#select {
  width: 40px;
  min-width: 40px;
  height: 40px;
  text-align: center;
  color: white;
  background-color: rgb(155, 77, 202);
  margin: 0px 0px 0px 1em;
  padding: 0px;
  border-radius: 50%;
}
button#select:hover {
  background-color: #ebdbf4;
  border-color: black;
  color: black;
}
.actionAdd {
  display: flex;
  margin-top: 10px;
}
input [type='color'] {
  visibility: hidden;
}

label#colorPicker {
  background-color: black;
  height: 32px;
  width: 32px;
  position: fixed;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content img {
  color: black;
  padding: 5px 4px;
  text-decoration: none;
  display: block;
  justify-self: center;
  margin: auto;
  width: 60px;
  height: 60px;
  transition: all .2s ease-in-out;
}
.dropdown-content img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: grid;
  grid-template-columns: 60px 60px 60px;
  grid-template-rows: 60px 60px;
}

.gridItem2::placeholder {
  color: #403f3f8c;
}
#addInput::placeholder {
  color: #403f3f8c;
}
#writeMsg::placeholder {
  color: #403f3f8c;
}

h1 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 60px;
    padding: 50px 50px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    border-radius: 6px;
  
}
h1.elegantShadow {
  color: #131313;
  background-color: #ebdbf4;
  border-radius: 6px;
  letter-spacing: .15em;
  text-shadow: 1px -1px 0 rgb(138, 138, 138), -1px 0px 1px rgba(138, 138, 138, 0.92), -2px 2px 1px rgba(138, 138, 138, 0.87), -3px 4px 1px rgba(138, 138, 138, 0.82), -4px 6px 1px rgba(138, 138, 138, 0.78), -5px 8px 1px rgba(138, 138, 138, 0.7), -6px 10px 1px rgba(138, 138, 138, 0.67), -7px 12px 1px rgba(138, 138, 138, 0.59), -8px 14px 1px rgba(138, 138, 138, 0.54), -9px 16px 1px rgba(138, 138, 138, 0.47), -10px 18px 1px rgba(138, 138, 138, 0.42), -11px 20px 1px rgba(138, 138, 138, 0.36), -12px 22px 1px rgba(138, 138, 138, 0.29), -13px 24px 1px rgba(138, 138, 138, 0.24), -14px 26px 1px rgba(138, 138, 138, 0.05);
}